<!DOCTYPE html>
<html>
  <head>
    <title>Smartrexchange</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/us_dollars/one_day">
            SmartrExchange
          </a>
        </div>
      </div>
    </nav>
    <%= render :partial => 'shared/flash_messages', :flash => flash %>
    <%= yield %>
    <div id="footer" class="container">
      <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner navbar-content-center">
          <p class="text-center">BRL Exchange Rates Against the USD, EUR, & AUD</p>
        </div>
      </nav>
    </div>
  </body>
</html>
